---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { languages } from "@lib/i18n/ui";
import { otherLanguage, useTranslations } from "@lib/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";


export async function getStaticPaths() {
  const langKeys = Object.keys(languages);
  const paths = langKeys.map((lk) => {
    const otherLang = otherLanguage(lk);
    return {
      params: {
        lang: lk,
      },
      props: {
        otherLangPath: `${getRelativeLocaleUrl(otherLang)}/contact`,
      },
    };
  });

  return paths;
}

const { lang } = Astro.params;
const { otherLangPath } = Astro.props;

const t = useTranslations(lang as 'en' | 'de');
const pageTitle = t('page.contact');
---

<BaseLayout lang={lang} langSwitchPath={otherLangPath} pageTitle={pageTitle}>
  <p>{t('contact.info')}</p>
</BaseLayout>
