---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { languages } from "@lib/i18n/ui";
import { otherLanguage } from "@lib/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

let baseUrl = import.meta.env.BASE_URL;

export async function getStaticPaths() {
  const langKeys = Object.keys(languages);
  const paths = langKeys.map((lk) => {
    const otherLang = otherLanguage(lk);
    return {
      params: {
        lang: lk,
      },
      props: {
        otherLangPath: `${getRelativeLocaleUrl(otherLang)}/contact`,
      },
    };
  });

  return paths;
}

// TODO translate page titles
const pageTitle = "Kontakt - SaaSQuadrat e.U.";

// deduplicate posts. Only one language per post.
const { lang } = Astro.params;
const { otherLangPath } = Astro.props;
---

<BaseLayout lang={lang} langSwitchPath={otherLangPath} pageTitle={pageTitle}>
  <p>// TODO contact information</p>
</BaseLayout>
