---
import Hamburger from "@components/Hamburger.astro";
import Navigation from "@components/Navigation.astro";
import LangSwitcher from "./LangSwitcher.astro";
import LightDarkModeSwitchIcon from "./LightDarkModeSwitchIcon.astro";

interface Props {
  lang: string;
  langSwitchPath: string;
}
const { lang, langSwitchPath } = Astro.props;
---

<header>
  <nav>
    <LightDarkModeSwitchIcon />
    <Hamburger />
    <Navigation lang={lang} />
    <LangSwitcher lang={lang} langSwitchPath={langSwitchPath} />
  </nav>
</header>
