---
import { otherLanguage } from "@lib/i18n/utils";

let baseUrl = import.meta.env.BASE_URL;

interface Props {
  lang: string;
  otherLang: string;
  langSwitchPath: string;
}
const { lang, langSwitchPath } = Astro.props;
const otherLang: string = otherLanguage(lang);
---

<div class="language-switch">
  <a href=`${baseUrl}/${langSwitchPath}`>{otherLang.toUpperCase()}</a>
</div>
