---
import { otherLanguage } from "@lib/i18n/utils";

interface Props {
  lang: string;
  langSwitchPath: string;
}
const { lang, langSwitchPath } = Astro.props;
const otherLang: string = otherLanguage(lang);
---

<div class="language-switch">
  <a href=`${langSwitchPath}`>{otherLang.toUpperCase()}</a>
</div>
